<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Symfony avec Docker</title>
</head>
<body>
    <h1>Une super page</h1>
    <p>Elle est générée par Symfony avec Docker.</p>
</body>
</html>